:root {
  --primary-box-color: #112055;
  --primary-box-text: #fff;
  --primary-box-lighter: #357b70;
  --primary-box-darker: #357b70;
  --secondary-box-color: #4f9d92;
  --secondary-box-text: #000;
  --padding: 10px;
  --border-rad: 5px;
  --shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3); }

.box__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif; }
  .box__wrapper div:hover {
    box-shadow: none;
    color: red; }

.box-primary, .box-primary-lighter, .box-primary-darker, .box-secondary {
  padding: var(--padding);
  border-radius: var(--border-rad);
  box-shadow: var(--shadow); }

.box-primary {
  background-color: var(--primary-box-color);
  color: var(--primary-box-text); }

.box-primary-lighter {
  background-color: #2240aa; }

.box-primary-darker {
  background-color: #09102b;
  color: var(--primary-box-text); }

.box-secondary {
  background-color: var(--secondary-box-color);
  color: var(--secondary-text); }
